<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>blogify</display-name>


	<!-- Article mapping -->
	<servlet>
		<servlet-name>ArticleServlet</servlet-name>
		<servlet-class>controller.ArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticleServlet</servlet-name>
		<url-pattern>/article/*</url-pattern>
	</servlet-mapping>
	<!-- Article mapping -->

	<!-- Auth mapping -->
	<servlet>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>controller.AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>
	<!-- Auth mapping -->

 	<!-- User Mapping -->
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>controller.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<!-- User Mapping End -->

	<!-- Comment mapping -->
	<servlet>
		<servlet-name>CommentServlet</servlet-name>
		<servlet-class>controller.CommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentServlet</servlet-name>
		<url-pattern>/comment/*</url-pattern>
	</servlet-mapping>
	<!-- Comment mapping -->
	
	<welcome-file-list>
		<welcome-file>views/article/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>